@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

$transition:  all var(--titleDuration) ease-in-out;

/*-------------------------------------------------------*/
/* HEADER
/*-------------------------------------------------------*/

.header {
  position: fixed;
  top: var(--pagePadding);
  bottom: var(--pagePadding);
  left: var(--pagePadding);
  right: var(--pagePadding);
  z-index: 15;
  pointer-events: none;
  isolation: isolate;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  overflow: hidden;
  z-index: 1;
  pointer-events: all;

  a {
    display: inline-block;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    padding-block-end: .5em;
    transform: translateY(100%);
    color: var(--fgColor);
    text-decoration: none;
    transition: $transition;

    @include hover {
      color: var(--bodyColor);
    }
  }

  h1 {
    display: inline-block;
    transform-origin: 50% 50%;
    font-size: calc(var(--titleSize) / 2);
    white-space: nowrap;
  }
  
  &.show a {
    transform: translateY(0%);
  }

  @media( min-width: #{$break-mobile} ){
    display: inline-block;
    width: unset;
  }
}



/*-------------------------------------------------------*/
/* PAGE BORDER
/*-------------------------------------------------------*/

.border {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: unset;
  max-height: unset;
  z-index: 0;

  path {
    fill: var(--bgColor);
    stroke: var(--fgColor);
    stroke-width: var(--borderWidth);

    &.animate {
      transition: $transition;
    }
  }
}