@import '@/styles/variables.scss';

.projectPage {
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--gap);
  padding: calc(var(--gap) / 2) var(--gap);
  background-color: var(--bgColor);
  pointer-events: none;
  
  > * {
    pointer-events: all;
  }
  
  @media(min-width: $break-mobile) {
    position: sticky;
    top: calc(var(--gap) * 2);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: calc(var(--gap) * 2);
    padding: 0;
    background: transparent;
    border: none;
    animation: trigger steps(1) both;
    animation-timeline: scroll();
    animation-range: 0px 5rem;
    z-index: 2;

    @container style(--animate: true) {
      .title span {
        transform: scale(0.5);
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
  }
}

.title {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  text-wrap: unset !important;
  
  span {
    position: relative;
    display: inline-block;
    padding: calc(var(--gap) / 2) calc(var(--gap) / 2) calc(var(--gap) / 2) 0;
    background-color: var(--bgColor);
    border-radius: 0 0.25rem 0.25rem 0;
    transform-origin: 0% 0%;
    transition: all .5s ease-in-out;
  }

  @media(min-width: $break-mobile) {
    span:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      width: calc(var(--gap) * 2);
      background-color: inherit;
    }
  }
}

.details {
  position: relative;
  display: grid;
  align-self: flex-start;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  background-color: var(--bgColor);
  font-size: 0.8rem;
  transition: padding .5s ease-in-out;
  dt {
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
  }

  dd {
    text-transform: uppercase;
  }

  @media(min-width: $break-mobile) {
    padding: calc(var(--gap) / 2) 0 calc(var(--gap) / 2) calc(var(--gap) / 2);
    grid-template-columns: repeat(2, auto);
    border-radius: 0.25rem 0  0 0.25rem;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: calc(var(--gap) * 2);
      background-color: inherit;
    }  
  }
}

@keyframes trigger {
  to {
    --animate: true;
  }
}