@import '@/styles/variables.scss';

// How small the title gets on scroll
$title-scroll-scale: 0.6;

.projectPage {
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--gap);
  padding: calc(var(--pagePadding) / 2) var(--pagePadding);
  background-color: var(--bgColor);
  pointer-events: none;
  
  > * {
    pointer-events: all;
  }
  
  @media(min-width: $break-tablet) {
    position: sticky;
    top: calc(var(--pagePadding) + var(--pageTitleHeight));
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: calc(var(--pagePadding) * 2);
    padding: 0;
    background: transparent;
    border: none;
    animation: trigger steps(1) both;
    animation-timeline: scroll();
    animation-range: 0px 1px;
    z-index: 2;

    @container style(--animate: true) {
      .title h1 {
        transform: scale($title-scroll-scale) translateY(calc(var(--pageTitleHeight) * -1));
        color: var(--fgColor);

        &:before {
          border-radius: calc(var(--cornerRadius) * #{1 / $title-scroll-scale}) 0 0 calc(var(--cornerRadius) * #{1 / $title-scroll-scale});
          background-color: var(--accentColor);
        }
      }

      .details {
        transform: translateX(calc(-100% - var(--gap)));
      }
    }
  }
}

.title {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  text-wrap: unset !important;
  
  h1 {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: calc(var(--pagePadding) / 2) 0 calc(var(--pagePadding) / 2) calc(var(--pagePadding) / 2);
    transform-origin: 100% 0%;
    transition: all .5s ease-in-out;

    span {
      position: relative;
    }
  }

  @media(min-width: $break-tablet) {
    order: 2;

    h1 {
      float: right;
      text-align: right;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: calc(100% + (var(--gap) * 2) + (var(--pagePadding) * #{1 / $title-scroll-scale}));
        border-radius: var(--cornerRadius) 0 0 var(--cornerRadius);
        background-color: var(--bgColor);
        transition: inherit;
        z-index: -1;
      }
    }

    @supports (anchor-name: --foo) { /* Shrink-wrap the background if supported */
      h1 {
        position: relative;
        isolation: isolate;
        background: none;
    
        span {
          anchor-name: --textWrapper;
        }
    
        &:before {
          position-anchor: --textWrapper;
          position: absolute;
          top: 0;
          bottom: 0;
          left: calc(anchor(left) - var(--pagePadding));
          width: calc(anchor-size(width) + (var(--gap) * 2) + (var(--pagePadding) * #{1 / $title-scroll-scale}));
        }
      }
    }
  }
}

.details {
  position: relative;
  display: grid;
  align-self: flex-start;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  background-color: var(--bgColor);
  font-size: 0.8rem;
  transition: all .5s ease-in-out;

  dt {
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
  }

  dd {
    text-transform: uppercase;
  }

  @media(min-width: $break-tablet) {
    order: 1;
    max-width: 300px;
    padding: calc(var(--pagePadding) / 2) calc(var(--pagePadding) / 2) calc(var(--pagePadding) / 2) 0;
    border-radius: 0 0.25rem 0.25rem 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      width: calc(var(--pagePadding) * 2);
      background-color: inherit;
    }  
  }
}

@keyframes trigger {
  to {
    --animate: true;
  }
}