@import 'css-reset';
@import 'typography';

* {
  cursor: none !important;
}

html, body {
  min-width: 100%;
  min-height: 100%;
}

body {
  position: relative;
  height: 100vh;
  padding: var(--pagePadding);
  background-color: var(--bgColor);
  color: var(--bodyColor);
  overflow: hidden;
  font-family: var(--font-oxanium);
  --pagePadding: 2rem;
  --bgColor: white;
  --fgColor: green;
  --bodyColor: blue;
  --accentColor: yellow;

  @media( max-width: 640px ){
    --pagePadding: 1rem;
  }
}

main {
  min-width: 100%;
  min-height: 100%;
  padding: var(--pagePadding);
}