@import 'css-reset';
@import 'typography';
@import 'variables';

/*-------------------------------------------------------*/
/* LAYOUT
/*-------------------------------------------------------*/

html {
  max-width: 100dvw;
  min-width: 100%;
  min-height: 100%;
  background-color: var(--bgColor);

  // Colors
  // These are overridden by the colors in constants.js at runtime
  --bgColor: rgb(219, 216, 206);
  --fgColor: red;
  --bodyColor: black;
  --accentColor: white;

  // Spacing
  --gap: 2rem; // Static
  --pagePadding: clamp(1rem, 3vw, 2rem); // Dynamic

  // Sizing
  --borderWidth: 2px; // Equal to 1 pixel of the dither effects, overridden by pixelDensity in constants.js at runtime
  --cornerRadius: .5rem; // General-use corner radius value for consistency
  --titleSize: clamp(2.5rem, 5vw, 4rem); // Size of primary titles

  // Misc
  --gridSize: calc(var(--borderWidth) * 8); // Size of the background grid cells
  --pageTitleHeight: 2rem; // Height (desktop) or width (mobile) of the title container--set dynamically via JS
  --backButtonHeight: 2rem; // Height of the back button--set dynamically via JS
}

body {
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--pagePadding);
  padding: var(--pagePadding);
  overflow: hidden;
  background-color: var(--bgColor);
  color: var(--bodyColor);
  font-family: var(--font-oxanium);
  transition: padding var(--titleDuration) ease-in-out;

  // Grid background
  &:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--fgColor);
    background-image: linear-gradient(var(--bgColor) calc(var(--gridSize) - var(--borderWidth)), transparent 1%),
                    linear-gradient(90deg, var(--bgColor) calc(var(--gridSize) - var(--borderWidth)), transparent 1%);
    background-size: var(--gridSize) var(--gridSize), var(--gridSize) var(--gridSize);
    background-position: top calc(var(--gridSize) / 2 - var(--borderWidth)) left calc(var(--gridSize) / 2 - var(--borderWidth));
    background-attachment: fixed;
    image-rendering: pixelated;
    z-index: 0;
  }

  // Device size flag that can be picked up by JS
  &:after {
    content: 'mobile';
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }

  @media( min-width: #{$break-mobile} ) {
    &:after {
      content: 'desktop';
    }
  }
}

main {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: calc(var(--pagePadding) + var(--pageTitleHeight)) var(--pagePadding) calc(var(--pagePadding) + var(--backButtonHeight)) var(--pagePadding);
  z-index: 1;
}



/*-------------------------------------------------------*/
/* ELEMENTS
/*-------------------------------------------------------*/

canvas {
  image-rendering: pixelated;
}



/*-------------------------------------------------------*/
/* PRINT
/*-------------------------------------------------------*/

@media print {
  body {
    max-height: unset !important;
    overflow: visible !important;
    padding: .25in !important;
    --gap: .25in !important;
    --borderWidth: .02in !important;

    &:before {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
  }

  main {
    padding: 0 !important;
  }
}
@page {
  size: auto; 
  margin: 0mm;
}