@import 'css-reset';
@import 'typography';
@import 'variables';

/*-------------------------------------------------------*/
/* LAYOUT
/*-------------------------------------------------------*/

* {
  cursor: none !important;
}

html, body {
  min-width: 100%;
  min-height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--bgColor);
  color: var(--bodyColor);
  font-family: var(--font-oxanium);
  --transitionDuration: 0.3s;
  --gap: 2rem;
  --bgColor: white;
  --fgColor: green;
  --bodyColor: blue;
  --accentColor: yellow;
  --borderWidth: 2px;
  --cornerRadius: .5rem;
  --interactiveCornerRadius: 40px;

  &:after {
    content: '';
    box-sizing: content-box;
    position: fixed;
    top: calc(var(--gap) - var(--borderWidth));
    bottom: calc(var(--gap) - var(--borderWidth));
    left: calc(var(--gap) - var(--borderWidth));
    right: calc(var(--gap) - var(--borderWidth));
    border: solid var(--borderWidth) var(--fgColor);
    border-radius: calc(var(--gap) + var(--borderWidth));
    outline: solid calc(var(--gap) * 2) var(--bgColor);
    pointer-events: none;
    z-index: 10;
  }

  @media( max-width: 640px ){
    --gap: 1rem;
  }
}

main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap) var(--gap) calc(var(--gap) + 3rem) var(--gap);
}



/*-------------------------------------------------------*/
/* ELEMENTS
/*-------------------------------------------------------*/

canvas {
  image-rendering: pixelated;
}