@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

h1 {
  max-width: 70ch;
  margin-top: $offset-museo; // Accommodate the extra spacing around characters
  margin-bottom: $offset-museo; // Accommodate the extra spacing around characters
  font-family: var(--font-museo-moderno, sans-serif);
  font-weight: 200;
  font-variation-settings: "wght" 200;
  font-size: var(--titleSize);
  line-height: 1;
  text-transform: uppercase;
  text-wrap: balance;

  @media( min-width: #{$break-tablet} ){
    font-weight: 200;
  }
}

h2 {
  color: var(--fgColor);
}

p {
  max-width: 70ch;
  line-height: 1.5;
  letter-spacing: .5px;
  text-wrap: pretty;
}

a {
  color: inherit;
  
  @include hover {
    color: var(--fgColor);
  }
}

*::selection {
  background-color: var(--fgColor);
  color: var(--accentColor);
}