h1 {
  max-width: 70ch;
  margin-top: -.11em; // Accommodate the extra spacing around characters
  font-family: var(--font-museo-moderno);
  font-weight: 200;
  font-size: 4rem;
  line-height: 1;
  text-transform: uppercase;
  text-wrap: balance;

  @media(max-width: 720px) {
    font-size: 2rem;
  }
}

p {
  line-height: 1.5;
}

a {
  color: var(--bodyColor);
  
  &:hover,
  &:focus-visible {
    color: white;
  }
}