/*-------------------------------------------------------*/
/* TEXT WRAPPER
/*-------------------------------------------------------*/

// Give text a background color to improve legibility
// against the grid background
.textWrapper {
  background-color: var(--bgColor);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  text-wrap: pretty;
  padding: .25rem;
  margin: -.25rem;
  border-radius: calc(var(--cornerRadius) / 2);
}

// For some elements, we only enable pointer events on the wrapper
// so the interaction target is clearer.
*:is(p, h1, h2, h3, h4, h5, h6, li, dd, dt):has(> .textWrapper) {
  pointer-events: none;

  *.textWrapper {
    pointer-events: all;
  }
}

// Some elements can have text wrappers applied implicitly due
// to the way markdown nests markup, so we can undo the
// background to avoid style clashing.
blockquote .textWrapper,
figure .textWrapper {
  margin: 0;
  padding: 0;
  background-color: transparent;
}



/*-------------------------------------------------------*/
/* TEXT MODIFIERS
/*-------------------------------------------------------*/

.accent {
  margin: -.125rem;
  padding: .125rem;
  background-color: var(--accentColor);
  border-radius: .25rem;
}

.emphasis {
  color: var(--fgColor);
  font-style: italic;
}