@import '@/styles/variables.scss';

/*-------------------------------------------------------*/
/* STANDARD TITLE
/*-------------------------------------------------------*/
.pageTitle {
  position: fixed;
  top: var(--pagePadding);
  right: var(--pagePadding);
  max-width: calc(100% - (var(--pagePadding) * 2));
  margin: 0;
  padding: calc(var(--pagePadding) / 2) calc(var(--pagePadding) * 1.25) calc(var(--pagePadding) / 2) var(--pagePadding);
  display: block;
  background: var(--fgColor);
  border-radius: 0 0 0 var(--pagePadding);
  color: var(--accentColor);
  z-index: 11;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: var(--pagePadding);
    height: var(--pagePadding);
    background-color: var(--fgColor);
    mask-image: radial-gradient(circle var(--pagePadding) at bottom left, transparent 0, transparent var(--pagePadding), black var(--pagePadding));
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }

  &:after {
    top: 100%;
    right: 0;
  }
}

// Page content gap
main:has(.pageTitle) {
  padding-top: calc( var(--titleSize) + (var(--pagePadding) * 2) );
}



/*-------------------------------------------------------*/
/* MARQUEE TITLE
/*-------------------------------------------------------*/

$marquee-padding: calc(var(--titleSize) * 0.2);

.marqueeTitle {
  position: fixed;
  top: var(--pagePadding);
  left: var(--pagePadding);
  right: var(--pagePadding);
  padding-bottom: var(--pagePadding);
  font-size: var(--titleSize);
  color: var(--accentColor);
  overflow: hidden;
  z-index: 11;
  --textWidth: 100; // In pixels
  --animSpeed: 100; // In pixels per second
}

.marqueeWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateY(-100%);
  background-color: var(--fgColor);
  animation: slide-in 1s .5s cubic-bezier(0.3,0,.5,1) forwards;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    width: var(--pagePadding);
    height: var(--pagePadding);
    background-color: var(--fgColor);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }

  &:before {
    left: 0;
    mask-image: radial-gradient(circle var(--pagePadding) at bottom right, transparent 0, transparent var(--pagePadding), black var(--pagePadding));
  }

  &:after {
    right: 0;
    mask-image: radial-gradient(circle var(--pagePadding) at bottom left, transparent 0, transparent var(--pagePadding), black var(--pagePadding));
  }

  h1 {
    padding-block-start: $marquee-padding;
    padding-block-end: $marquee-padding;
  }
}

.marqueeContent {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: .5em;
  animation: marquee-scroll calc( var(--textWidth) / var(--animSpeed) * 1s ) linear infinite;

  h1 {
    margin: 0;
  }
}

.marqueeCopies {
  width: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  gap: inherit;
}

// Page content gap
main:has(.marqueeTitle) {
  padding-top: calc( var(--titleSize) + var(--pagePadding) + (#{$marquee-padding} * 2) );
}

@keyframes marquee-scroll {
  from { transform: translateX(0%) }
  to   { transform: translateX(-100%) }
}

@keyframes slide-in {
  from { transform: translateY(-100%) }
  to   { transform: translateY(0%) }
}

@media( min-width: $break-tablet ){
  .marqueeTitle {
    top: var(--pagePadding);
    bottom: var(--pagePadding);
    left: unset;
    padding-bottom: 0;
    padding-left: var(--pagePadding);
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .marqueeWrapper {
    transform: translateX(100%);

    &:before {
      top: 0;
      right: 100%;
      left: unset;
      mask-image: radial-gradient(circle var(--pagePadding) at bottom left, transparent 0, transparent var(--pagePadding), black var(--pagePadding));
    }

    &:after {
      top: unset;
      bottom: 0;
      right: 100%;
      mask-image: radial-gradient(circle var(--pagePadding) at top left, transparent 0, transparent var(--pagePadding), black var(--pagePadding));
    }
  }

  .marqueeCopies {
    width: unset;
    height: 0;
  }

  @keyframes marquee-scroll {
    from { transform: translateY(0%) }
    to   { transform: translateY(-100%) }
  }

  @keyframes slide-in {
    from { transform: translateX(100%) }
    to   { transform: translateX(0%) }
  }

  main:has(.marqueeTitle) {
    padding-top: var(--pagePadding);
    padding-right: calc( var(--titleSize) + var(--pagePadding) + (#{$marquee-padding} * 2) );
  }
}