@import '@/styles/variables.scss';

/*-------------------------------------------------------*/
/* STANDARD TITLE
/*-------------------------------------------------------*/
.pageTitle {
  position: fixed;
  top: var(--pagePadding);
  right: var(--pagePadding);
  max-width: calc(100% - (var(--pagePadding) * 2));
  margin: 0;
  padding: calc(var(--pagePadding) / 2) calc(var(--pagePadding) * 1.25) calc(var(--pagePadding) / 2) var(--pagePadding);
  display: block;
  background: var(--fgColor);
  border-radius: 0 var(--pagePadding);
  color: var(--accentColor);
  z-index: 11;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: var(--pagePadding);
    height: var(--pagePadding);
    background-color: var(--fgColor);
    mask-image: radial-gradient(circle var(--pagePadding) at bottom left, transparent 0, transparent var(--pagePadding), black var(--pagePadding));
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }

  &:after {
    top: 100%;
    right: 0;
  }
}

// Page content gap
main:has(.pageTitle) {
  padding-top: calc( var(--titleSize) + (var(--pagePadding) * 2) );
}