.pageTitle {
  position: fixed;
  top: var(--gap);
  left: var(--gap);
  max-width: calc(100% - (var(--gap) * 2));
  margin: 0;
  padding: calc(var(--gap) / 2) calc(var(--gap) * 1.25) calc(var(--gap) / 2) var(--gap);
  display: block;
  background: var(--fgColor);
  border-radius: var(--gap) 0;
  color: var(--accentColor);
  font-size: 2.5rem;
  z-index: 11;

  $corner-size: calc(var(--gap) / 2);
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: $corner-size;
    height: $corner-size;
    background-color: var(--fgColor);
    mask-image: radial-gradient(circle #{$corner-size} at bottom right, transparent 0, transparent #{$corner-size}, black #{$corner-size});
    mask-position: bottom right;
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: $corner-size;
    height: $corner-size;
  }

  + .spacer {
    margin-top: calc(var(--gap) * -.25);
    font-size: 2.5rem;
    opacity: 0;
    pointer-events: none;
  }
}