@import '@/styles/mixins.scss';

.button {
  display: block;
  flex-shrink: 0;
  padding: 1rem 2rem;
  border-radius: calc(var(--cornerRadius) / 2);
  color: var(--fgColor);
  background-color: var(--accentColor);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include hover {
    background-color: var(--fgColor);
    color: var(--accentColor);
  }
}

.icon {
  padding: 0.5rem;
  background-color: transparent;

  @include hover {
    svg {
      display: block;
      --primaryColor: var(--fgColor);
      --secondaryColor: var(--bodyColor);
    }
  }
}

.link {
  display: inline;
  text-decoration: underline;

  @include hover {
    color: var(--fgColor);
  }
}