.homePage {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name maker"
                       "designer developer";
  
  a {
    padding: 1rem;
    margin: -1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 300;
  }

  //Name
  h1 {
    grid-area: name;
  }

  // Designer
  .designer {
    display: flex;
    grid-area: designer;
    align-items: flex-end;
  }

  // Developer
  .developer {
    display: flex;
    grid-area: developer;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
  }

  // Maker
  .maker {
    display: flex;
    grid-area: maker;
    text-align: right;
    align-items: flex-start;
    justify-content: flex-end;
  }
}