@import '@/styles/variables.scss';

.homePage {
  position: fixed;
  top: var(--gap);
  bottom: var(--gap);
  left: var(--gap);
  right: var(--gap);
  width: unset;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--padding);
  
  a {
    padding: .5rem;
    margin: -.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 300;
  }

  .title {
    font-size: 3rem;
    text-align: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    margin: auto 0;
    padding: 0;
    list-style-type: none;
  }

  .modelView {
    position: fixed;
    top: var(--gap);
    bottom: var(--gap);
    left: var(--gap);
    right: var(--gap);
    z-index: -1;
  }

  @media( min-width: $break-mobile ){
    .title {
      font-size: 4rem;
      text-align: left;
    }

    .links {
      display: contents;
    }

    .designer {
      position: absolute;
      bottom: var(--gap);
      left: var(--gap);
    }

    .developer {
      position: absolute;
      bottom: var(--gap);
      right: var(--gap);
    }

    .maker {
      position: absolute;
      top: var(--gap);
      right: var(--gap);
    }
  }
}