@import '@/styles/variables.scss';

.projectsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  grid-auto-rows: 1fr;
  gap: var(--pagePadding);
  grid-auto-flow: row dense;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &:before {
    content: '';
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    aspect-ratio: 1 / 1;
  }
  
  li {
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
    display: block;
    z-index: 1;
    --colSpan: 1;
    --rowSpan: 1;

    &:first-child {
      grid-column: 1;
      grid-row: 1;
    }
    
    &:has(a:hover, a:focus-visible) {
      z-index: 2;
    }
    

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      transform-origin: 50% 50%;
      border-radius: var(--cornerRadius);
      background-color: var(--bgColor);
      overflow: hidden;

      @media(hover: hover) {
        &:hover,
        &:focus-visible {
          outline: solid var(--borderWidth) var(--fgColor);

          .cover {
            filter: grayscale(0%);
          }

          .info {
            transform: translateY(0%);
            transition-timing-function: cubic-bezier(0,.5,.5,1);
          }
        }
        
        .info {
          transform: translateY(calc(100% + .5rem));
        }
      }
    }
  }

  @media(min-width: 800px) {
    li {
      grid-column: span var(--colSpan);
      grid-row: span var(--rowSpan);

      &:first-child {
        grid-column: 1 / span var(--colSpan);
        grid-row: 1 / span var(--rowSpan);
      }
    }
  }
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.info {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  max-width: calc(100% - 1rem);
  padding: calc(var(--pagePadding) / 4) calc(var(--pagePadding) / 2);
  background-color: var(--accentColor);
  border-radius: calc(var(--cornerRadius) / 2);
  pointer-events: none;
  z-index: 3;
  transition: all .3s cubic-bezier(.5,0,1,.5);
  
  .title {
    display: block;
    color: var(--bodyColor);
    text-align: left;
    text-transform: uppercase;
  }

  .type {
    font-size: .8em;
    color: var(--fgColor);
  }
}