@import '@/styles/variables.scss';

.projectsList {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: var(--gap);
  grid-auto-flow: row dense;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &:before {
    content: '';
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    aspect-ratio: 1 / 1;
  }
  
  li {
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
    display: block;
    z-index: 1;
    --colSpan: 1;
    --rowSpan: 1;

    &:first-child {
      grid-column: 1;
      grid-row: 1;
    }
    
    &:has(a:hover, a:focus-visible) {
      z-index: 2;
    }
    

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      transform-origin: 50% 50%;
      border-radius: var(--cornerRadius);
      background-color: var(--accentColor);
      overflow: hidden;
      transition: all .3s ease-in-out;
      --padding: 2rem;

      @media(hover: hover) {
        &:hover,
        &:focus-visible {

          &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: var(--fgColor);
            mix-blend-mode: multiply;
            z-index: 2;
          }

          .title {
            transform: translateY(0%);
            transition-timing-function: ease-out;
          }

          .type {
            opacity: 1;
          }
        }
        
        .title {
          transform: translateY(calc(100% + .5rem));
        }

        .type {
          // transform: translateY(calc(-100% - .5rem));
          opacity: 0;
        }
      }
    }
  }

  @media(min-width: 800px) {
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));

    li {
      grid-column: span var(--colSpan);
      grid-row: span var(--rowSpan);

      &:first-child {
        grid-column: 1 / span var(--colSpan);
        grid-row: 1 / span var(--rowSpan);
      }
    }
  }
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0%);
}

.title {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  right: .5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--bodyColor);
  pointer-events: none;
  z-index: 3;
  transition: all .3s ease-in;

  p {
    display: block;
    padding: calc(var(--gap) / 4) calc(var(--gap) / 2);
    background-color: var(--accentColor);
    border-radius: calc(var(--cornerRadius) / 2);
    text-align: center;
    text-transform: uppercase;
  }
}

.type {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: var(--accentColor);
  text-transform: uppercase;
  font-size: .8em;
  z-index: 3;
  transition: opacity .3s linear;
}