.demoButton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: calc(var(--pagePadding) * .375);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accentColor);
  font-size: calc(var(--pagePadding) / 2);
  text-decoration: none;
  z-index: 12;

  &:hover,
  &:focus-visible {
    color: var(--fgColor);
  }
}