.background {
  position: absolute;
  top: var(--pagePadding);
  bottom: var(--pagePadding);
  left: var(--pagePadding);
  right: var(--pagePadding);
  image-rendering: pixelated;
  border: solid 2px var(--fgColor);
  border-radius: var(--pagePadding);
  overflow: hidden;
  z-index: -1;

  canvas {
    position: absolute;
    top: calc(var(--pagePadding) * -1);
    left: calc(var(--pagePadding) * -1);
    width: 100dvw !important;
    height: 100dvh !important;
    max-width: unset;
  }
}