.background {
  position: absolute;
  top: var(--gap);
  bottom: var(--gap);
  left: var(--gap);
  right: var(--gap);
  border-radius: var(--gap);
  overflow: hidden;
  z-index: -1;

  canvas {
    position: absolute;
    top: calc(var(--gap) * -1);
    left: calc(var(--gap) * -1);
    width: 100dvw !important;
    height: 100dvh !important;
    max-width: unset;
  }
}