// Give text a background color to improve legibility
// against the grid background
.textWrapper {
  background-color: var(--bgColor);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

// For some elements, we only enable pointer events on the wrapper
// so the interaction target is clearer.
*:is(p, h1, h2, h3, h4, h5, h6, li, dd, dt):has(> .textWrapper) {
  pointer-events: none;

  *.textWrapper {
    pointer-events: all;
  }
}

p.textWrapper,
p .textWrapper {
  padding: .25em;
  margin: -.25em;
}

// Some elements can have text wrappers applied implicitly due
// to the way markdown nests markup, so we can undo the
// background to avoid style clashing.
blockquote .textWrapper,
figure .textWrapper {
  background-color: transparent;
}