@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.pageTransition {
  position: fixed;
  top: var(--pagePadding);
  bottom: var(--pagePadding);
  left: var(--pagePadding);
  right: var(--pagePadding);
  display: grid;
  grid-template-columns: repeat(var(--colCount), 1fr);
  grid-template-rows: repeat(var(--rowCount), 1fr);
  border-radius: var(--pagePadding);
  overflow: hidden;
  transition: --wavePos var(--transitionDuration) $ease-out;
  pointer-events: none;
  z-index: 11;
  --colCount: 1;
  --rowCount: 1;
  --pixelDuration: calc(var(--transitionDuration) / var(--colCount));

  .pixel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fgColor);
    opacity: 0;
    // transition: opacity var(--pixelDuration) calc(var(--delayMultiplier) * var(--pixelDuration) / 2) ease;
    transition: opacity var(--pixelDuration) calc(var(--transitionDuration) / 2 * var(--delayMultiplier)) ease;
  }

  &[data-active="true"] .pixel {
    opacity: 1;
    // transition-timing-function: $ease-in;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100px;
  height: 100px;
  background-color: black;
  opacity: 0;
  transition: opacity .5s ease;

  &[data-active="true"] {
    opacity: 1;
  }
}