@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.pageTransition {
  position: fixed;
  top: var(--pagePadding);
  bottom: var(--pagePadding);
  left: var(--pagePadding);
  right: var(--pagePadding);
  display: grid;
  grid-template-columns: repeat(var(--colCount), 1fr);
  grid-template-rows: repeat(var(--rowCount), 1fr);
  border-radius: var(--pagePadding);
  overflow: hidden;
  transition: --wavePos var(--transitionDuration) $ease-out;
  pointer-events: none;
  z-index: 11;
  --colCount: 1;
  --rowCount: 1;
  --pixelDuration: calc(var(--transitionDuration) / var(--colCount));

  .pixel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fgColor);
    opacity: 0;
    transition: opacity var(--pixelDuration) calc(var(--index) * var(--pixelDuration) / 2) ease;
  }

  &.active .pixel {
    opacity: 1;
    // transition-timing-function: $ease-in;
  }
}