@import '@/styles/variables.scss';

.mdx {
  display: grid;
  grid-template-columns: 1fr minmax(0, 6rem) min(100%, 600px) minmax(0, 6rem) 1fr;
  gap: var(--gap) 0;
  width: 100%;
  z-index: 1;
  
  > * {
    max-width: 100%;
    grid-column: 3;
  }
}



/*-------------------------------------------------------*/
/* DEFAULT ELEMENTS
/*-------------------------------------------------------*/

.h1 {
  position: relative;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  margin-top: calc(var(--pagePadding) * 2);

  .marker {
    display: block;
    position: absolute;
    top: 0;
    right: calc(100% + 1rem);
    height: 100%;
    width: calc(var(--gap) + var(--pageTitleNominalDim) - 2rem);
    border-radius: 0 var(--cornerRadius) var(--cornerRadius) 0;
    background-color: var(--fgColor);

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: var(--cornerRadius);
      height: var(--cornerRadius);
      background-color: var(--fgColor);
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
    }

    &:before {
      top: 100%;
      mask-image: radial-gradient(circle var(--cornerRadius) at bottom 0 right 0, transparent 0, transparent var(--cornerRadius), black var(--cornerRadius));
    }
    
    &:after {
      bottom: 100%;
      mask-image: radial-gradient(circle var(--cornerRadius) at top 0 right 0, transparent 0, transparent var(--cornerRadius), black var(--cornerRadius));
    }
  }

  > *:not(.marker) {
    grid-column: 2 / -2;
    display: inline-block;
    padding: .5rem 0;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
  }

  @media( min-width: #{$break-mobile} ){
    .marker {
      position: relative;
      grid-column: 1 / 2;
      right: unset;
      width: calc(100% + var(--gap) - 1rem);
      transform: translateX(calc( var(--pagePadding) * -1));
    }
  }

}

.h2 {
  color: var(--fgColor);
}

.blockquote {
  $shadow-size: .5rem;
  position: relative;
  padding: 1rem 2rem;
  margin: 0 $shadow-size $shadow-size 0;
  background-color: var(--accentColor);
  border-radius: var(--cornerRadius);

  &:before {
    content: '';
    position: absolute;
    top: $shadow-size;
    left: $shadow-size;
    width: 100%;
    height: 100%;
    background-color: var(--fgColor);
    border-radius: inherit;
    z-index: -1;
  }

  cite {
    margin-top: 1rem;
    float: right;
    color: var(--fgColor);
    text-transform: uppercase;

    &:before {
      content: '— ';
    }
  }
}

.link {
  margin: -.5rem;
  padding: .5rem;
  text-decoration: underline;
}

.image {
  border-radius: var(--cornerRadius);
}

.hr {
  position: relative;
  width: 3rem;
  height: 1rem;
  margin: var(--pagePadding) auto;
  border: none;
  border-radius: .5rem;
  background-color: var(--bgColor);
  background-image: radial-gradient(circle, var(--fgColor) 25%, transparent 25%);
  background-size: 1rem 1rem;
  overflow: visible;
}

.pre {
  grid-column: 2 / -2;
  position: relative;
  display: block;
  background-color: var(--accentColor);
  border-radius: var(--cornerRadius);
  overflow-x: auto;
  white-space: pre-wrap !important;
  
  > .code {
    display: inline-block;
    padding: 1rem;
    margin: 0;
  }
}

.code {
  margin: -.125rem;
  padding: .125rem;
  background-color: var(--accentColor);
  border-radius: .25rem;

  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-property: #0550ae;
  --sh-entity: #249a97;
  --sh-jsxliterals: #6266d1;
  --sh-string: #00a99a;
  --sh-keyword: var(--fgColor);
  --sh-comment: #a19595;
}

.codeHeader {
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: .25rem;
  background-color: rgba(0,0,0,.05);
  font-family: var(--font-oxanium);

  p {
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  .copyButton {
    position: relative;
    top: unset;
    right: unset;
  }
}

.copyButton {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-family: var(--font-oxanium);
  --animDuration: 1s;

  &:after {
    content: 'Copied!';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--fgColor);
    font-size: .8rem;
    opacity: 0;
  }

  &.success:after {
    animation: success-fade var(--animDuration) linear forwards;
  }
}

@keyframes success-fade {
  0%, 50% { opacity: 100% }
  100%    { opacity: 0%}
}

.ol {
  list-style-type: none;
  counter-reset: list;

  li {

    &:not(:last-child) {
      margin-bottom: .5em;
    }

    &:before {
      content: counter(list);
      counter-increment: list;
      display: inline-block;
      margin-right: .5rem;
      width: 2rem;
      text-align: right;
      font-weight: 600;
      color: var(--fgColor);
    }
  }
}

.ul {
  list-style-type: none;

  li {

    &:not(:last-child) {
      margin-bottom: .5em;
    }

    &:before {
      content: '';
      display: inline-block;
      width: .3rem;
      height: .3rem;
      margin: 0 .5rem .25em 1.7rem;
      border-radius: 50%;
      background-color: var(--fgColor);
    }
  }
}

.figure {
  grid-column: 2 / -2;
  display: flex;
  flex-direction: column;
  border-radius: var(--cornerRadius);
  background-color: var(--accentColor);
  text-align: center;
  font-size: .8em;
  overflow: hidden;

  > p {
    max-width: unset;
  }

  img {
    border-radius: 0;
  }

  &.padded {
    padding: 1rem;
    
    figcaption {
      margin: 1rem -1rem -1rem -1rem;
    }
  }

  figcaption {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,.05);
    
    p {
      text-wrap: balance;
    }
  }
}

.video {
  grid-column: 2 / -2;
  aspect-ratio: 16 / 9;
  border-radius: var(--cornerRadius);
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
  }
}



/*-------------------------------------------------------*/
/* WRAPPERS & CONTAINERS
/*-------------------------------------------------------*/

.columns {
  display: flex;
  flex-direction: column;
  gap: var(--pagePadding);
  
  @media(min-width: $break-mobile) {
    flex-direction: row;
    justify-content: center;
    grid-column: 1 / -1;
    
    & > * {
      width: 0;
      flex-grow: 1;
    }
  }
}

.grid {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  gap: 1rem;

  > * {
    grid-column: unset;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wide {
  grid-column: 2 / -2;

  > * {
    width: 100%;
  }
}

.full {
  grid-column: 1 / -1;

  > * {
    width: 100%;
  }
}