.mdx {
  display: grid;
  grid-template-columns: 1fr minmax(0, 6rem) min(100%, 600px) minmax(0, 6rem) 1fr;
  gap: var(--gap) 0;
  padding: 0 var(--gap);
  z-index: 1;

  > * {
    grid-column: 3;
  }
}

/*-------------------------------------------------------*/
/* MODIFIER CLASSES
/*-------------------------------------------------------*/

.wide {
  grid-column: 1 / -1;

  > * {
    width: 100%;
  }
}



/*-------------------------------------------------------*/
/* ELEMENTS
/*-------------------------------------------------------*/

.blockquote {
  position: relative;
  padding: 1rem 1rem 1rem calc(1rem + var(--cornerRadius) + var(--borderWidth));
  background-color: var(--accentColor);
  border-radius: var(--cornerRadius);

  &:before {
    content: '';
    position: absolute;
    top: var(--cornerRadius);
    left: var(--cornerRadius);
    bottom: var(--cornerRadius);
    width: var(--borderWidth);
    background-color: var(--fgColor);
  }
}

.link {
  margin: -.5rem;
  padding: .5rem;
  text-decoration: underline;
}

.image {
  border-radius: var(--cornerRadius);
}

.pre {
  grid-column: 2 / -2;
  position: relative;
  display: block;
  background-color: var(--accentColor);
  border-radius: var(--cornerRadius);
  overflow-x: auto;
  
  > .code {
    display: inline-block;
    padding: 1rem;
    margin: 0;
  }
}

.code {
  background-color: var(--accentColor);
  border-radius: .25rem;
  margin: -.125rem;
  padding: .125rem;

  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-property: #0550ae;
  --sh-entity: #249a97;
  --sh-jsxliterals: #6266d1;
  --sh-string: #00a99a;
  --sh-keyword: var(--fgColor);
  --sh-comment: #a19595;
}

.codeHeader {
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: .25rem;
  background-color: rgba(0,0,0,.05);

  p {
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  .copyButton {
    position: relative;
    top: unset;
    right: unset;
  }
}

.copyButton {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}