.personPage {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0;

  > * {
    width: 0;
    flex-grow: 1;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: var(--pagePadding);
  background-color: var(--bgColor);
  border-radius: var(--cornerRadius);
}

.title {
  max-width: 20ch;
  margin-bottom: .5em;
  font-family: var(--font-doto);
  font-weight: 600;
  color: var(--fgColor);
  -webkit-text-stroke: 1px currentColor;
}