@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

/*-------------------------------------------------------*/
/* LAYOUT
/*-------------------------------------------------------*/
$break-custom: 1200px;

.resumePage {
  min-height: unset;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;

  .column {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: .5rem;
      background-color: var(--bgColor);
      border-radius: var(--cornerRadius);
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
  }

  @media( min-width: #{$break-custom} ){
    flex-direction: row;
    align-items: stretch;

    .column {
      width: unset;
      flex-grow: initial;
      flex-direction: column;
      align-items: stretch;

      #skills {
        order: 2;
      }

      #education {
        order: 1;
      }
    }
  }
}

.sectionSubtitle {
  align-self: stretch;
  margin-top: 2rem;
  text-align: center;
}



/*-------------------------------------------------------*/
/* EXPERIENCE
/*-------------------------------------------------------*/
#experience {
  align-items: flex-start;

  .sectionTitle {
    align-self: center;
  }

  @media( min-width: #{$break-custom} ){
    .sectionTitle {
      align-self: unset;
      padding-left: 1rem;
    }
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    .company {
      display: flex;
      align-items: center;
      min-height: 3rem;
      margin-left: calc(var(--pagePadding) * -1 - .5rem);
      padding: .5rem 2rem .3rem calc(var(--pagePadding) + .5rem);
      border-radius: 0 1.5rem 1.5rem 0;
      background-color: var(--accentColor);
      color: var(--fgColor);
    }

    .date {
      display: block;
      border-radius: 0 0 .5rem .5rem;
      color: var(--fgColor);
      font-size: .75rem;
      font-weight: 600;
      text-transform: uppercase;
      z-index: 1;
    }

    .role {
      font-weight: 600;
    }

    @media( min-width: #{$break-mobile} ){
      $inset: 3rem;
      padding-left: $inset;

      &:not(:last-child):before {
        content: '';
        display: block;
        position: absolute;
        top: 1.5rem;
        bottom: -5rem;
        left: calc(1.5rem - var(--borderWidth)/2);
        width: var(--borderWidth);
        background-color: var(--fgColor);
        z-index: 3;
      }
  
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 1rem;
        height: 1rem;
        background-color: var(--fgColor);
        border-radius: 50%;
        z-index: 3;
      }

      .company {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding-left: $inset;
        padding-right: 2rem;
        margin-left: #{$inset * -1};
        border-radius: 1.5rem;
      }
      
      .date {
        display: contents;
      }
    }
  }
}



/*-------------------------------------------------------*/
/* SKILLS
/*-------------------------------------------------------*/
#skills {
  padding-bottom: 1rem;
  
  @media( min-width: #{$break-custom} ){
    max-width: 450px;
  }
}

.skillsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    padding: .5rem 1.25rem .45rem 1.25rem;
    font-size: .75rem;
    text-align: center;
    background-color: var(--accentColor);
    border-radius: 100px;

    &.tool {
      color: var(--fgColor);
    }
  }
}

.skillFilter {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: .5rem;
  width: 100%;
  max-width: $break-mobile;
  margin: 0 auto;
  font-size: .75rem;

  label {
    display: block;
    margin-bottom: .5rem;
    white-space: nowrap;
    font-size: inherit;
  }

  .buttons {
    flex-grow: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--accentColor);
    border-radius: 1rem;
    padding: var(--borderWidth);
    gap: var(--borderWidth);
    overflow: hidden;

    button {
      flex-grow: 1;
      padding: .25rem .5rem;
      background-color: var(--bgColor);
      border-radius: 0;
      color: var(--bodyColor);
      font-size: inherit;
      z-index: 1;

      &:first-child {
        border-top-left-radius: calc(1rem - var(--borderWidth));
      }

      &:nth-child(2) {
        border-top-right-radius: calc(1rem - var(--borderWidth));
      }

      &:nth-child(3) {
        border-bottom-left-radius: calc(1rem - var(--borderWidth));
      }

      &:last-child {
        border-bottom-right-radius: calc(1rem - var(--borderWidth));
      }

      @include hover {
        background-color: var(--accentColor);
        z-index: 2;
      }

      &.active {
        color: var(--fgColor);
        font-weight: 600;
      }
    }
  }

  @media( min-width: #{$break-mobile} ){
    .buttons {
      display: flex;
      flex-direction: row;

      button {
        &:first-child {
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
        }

        &:nth-child(2),
        &:nth-child(3) {
          border-radius: 0;
        }
  
        &:last-child {
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
      }
    }
  }
}



/*-------------------------------------------------------*/
/* EDUCATION
/*-------------------------------------------------------*/
#education {
  text-align: center;
}



/*-------------------------------------------------------*/
/* PRINT
/*-------------------------------------------------------*/
.resumeHeader {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
  background-color: var(--bgColor);
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;

  h1 {
    margin-bottom: 1rem;
    color: var(--fgColor);
    font-weight: 200;
  }

  b {
    font-weight: 500;
    text-transform: uppercase;
  }

  > p {
    text-align: right !important;
  }
}

.printWrapper {
  display: contents;
}

@media print {
  .resumePage * {
    align-items: flex-start !important;
    text-align: left !important;
  }

  .columns,
  .columns section {
    align-self: stretch;
    align-items: stretch !important;
  }

  .sectionSubtitle {
    margin-top: 0;
  }

  .resumeHeader {
    display: flex;
  }

  .printWrapper {
    display: flex;
    flex-direction: column;
    gap: inherit;
  }

  .title,
  .company {
    align-items: center !important;
  }

  .intro,
  .skillFilter {
    display: none;
  }

  #skills {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .printWrapper:first-child {
      flex-basis: 60%;
    }

    .printWrapper:last-child {
      flex-basis: 40%;
    }
  }

  .skillsList {
    justify-content: flex-start;
    break-inside: avoid;

    li {
      padding: .25rem .75rem .225rem .75rem;
    }
  }

  #education {
    align-self: center;
  }
}