.circleText {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  container-type: size;
}

.textContainer {
  position: relative;
  display: block;
  width: 100cqmin;
  height: 100cqmin;
  aspect-ratio: 1 / 1;
  transform-origin: 50% 50%;
  font-size: calc(400cqmin / var(--charCount));
  font-family: var(--font-doto-rounded, monospace);
  animation: rotate 24s infinite linear;
  --charCount: 0;

  span {
    display: block;
    position: absolute;
    top: -.125em;
    bottom: 50%;
    left: 50%;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--fgColor);
    transform-origin: 50% 100%;
    transform: translateX(-50%) rotate(calc((360deg / var(--charCount)) * var(--i)));
    --i: 0;
  }

  &[data-border="true"] {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      border: solid 1.23em var(--fgColor);
      z-index: -1;
    }

    span {
      color: var(--accentColor);
    }
  }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}